.popup__input {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 14px 0;
  font-size: 14px;
  margin: 8px 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.popup__input:focus{
  outline: none;
}