.profile__add-button {
  width: 150px;
  min-width: 150px;
  height: 50px;
  border: 2px solid white;
  color: white;
  outline: none;
  background-color: transparent;
  border-radius: 2px;
  font-size: 44px;
  line-height: 0;
  transition: opacity .2s linear;
  cursor: pointer;
}

.profile__add-button:hover {
  opacity: 0.6;
}

.profile__add-button:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

@media screen and (max-width: 550px) {
  .profile__add-button {
    width: 80px;
    min-width: 80px;
  }
}

@media screen and (max-width: 425px) {
  .profile__add-button {
    width: 100%;
    font-size: 33px;
  }
}